@model GetArticleDetailVM

<div class="card card-widget">
    <div class="card-header">
        <div class="user-block">
            <img class="img-circle" src="@Model.AuthorImage" alt="User Image">
            <span class="username"><a href="#">@Model.AuthorName</a></span>
            <span class="description">Yayınlanma Tarihi -@Model.CreateDate</span>
        </div>

        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->

    <div class"card-body">
        <p>Görüntülenme Sayısı: @Model.View</p>
        <p>Okunma Süresi @Model.minute dk</p>
        <br />
        <img class="img-fluid pad" src="@Model.Image" alt="Photo">
        <br />
        <br />
        <h1>@Model.Title</h1>
        @await Component.InvokeAsync("JustCategories")
        <br />
        <p>@Model.Content</p>
        <br />
        <br />

        <div class="card-footer float-right">

            @await Component.InvokeAsync("LikeComponent")


            <a asp-action="Like" asp-route-id="@Model.ArticleId" class="btn btn-success">Beğen </a>

        </div>

    </div>
    <!-- /.card-body -->
    <div class="card-footer card-comments">

        <!-- /.card-comment -->
        <!-- /.card-comment -->
    </div>
    <!-- /.card-footer -->


    <div class="card-footer">
        <form action="#" method="post">
            <div class="img-push">
                @await Component.InvokeAsync("ArticleComment")

                @using (Html.BeginForm())
                {
                    <label>Yorum</label>
                    <input type="text" name="comment" class="form-control" placeholder="Yorumunuz.." />
                    <br />
                    <button type="submit" class="btn btn-primary">Paylaş</button>
                }


                @*@using (Html.BeginForm())
                    {
                    <form asp-action="Detail" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                    <label asp-for="Text">Yorumunuz:</label>
                    <input asp-for="Text" type="text" name="yazi" class="form-control">
                    <span asp-validation-for="Text"></span>
                    </div>
                    <td>
                    <a asp-action="Detail" asp-route-id="@Model.ArticleId" class="btn btn-success">Paylaş </a>
                    </td>
                    </form>

                    }*@
                <input type="hidden" asp-for="ArticleId" />
                <input type="hidden" asp-for="AppUserId" />
                @* TempData["KullaniciId"] = @Model.AppUserId*@
            </div>

            @* @{
                TempData["yorum"] = "e";
                }
            *@
            @*<form>
                Ad:<input type="text" id="ad" /><br />
                <input type="button" value="OK" onclick="yaz()" />
                </form>
                <script>
                function yaz(){
                var isim;
                isim = document.getElementById("ad").value;
                alert(isim);
                }

                </script>*@
        </form>


    </div>
    <!-- /.card-footer -->


</div>