@model List<GetArticleVM>

<div class="card">
    <div class="card-header">
        <h3 class="card-title"><b>Makale Listeleme Paneli</b></h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th>Başlık</th>
                    <th>İçerik</th>
                    <th>Fotoğrafı</th>
                    <th>Yazar Adı</th>
                    <th style="width: 40px">Güncelle</th>
                    <th style="width: 40px">Detay</th>
                    <th style="width: 40px">Sil</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Content.Substring(0, 30)</td>
                        <td>
                            <img src="@item.Image" height="100" width="150" />
                        </td>
                        
                       
                        <td>@item.AuthorName</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Güncelle </a>
                        </td>
                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Detay </a>
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil </a>
                        </td>

                    </tr>

                }

            </tbody>


        </table>

    </div>
    <div>
        <a asp-action="Create" class="btn  btn-success">Yeni Makale Oluştur</a>


    </div>


</div>